body {
	background-color: white;
	font-family: Arial;
}

.input-symbol-euro {
    position: relative;
}
.input-symbol-euro input {
     padding-right:0.3em;
}
.input-symbol-euro:before {
    position: absolute;
    top: 0;
    content:"€";
    left: 0.3em;
    text-align: left;
}
input[type="number"] {
	text-align: end;
}

.homebtn {
	margin : 1.3em;
}

.btn-primary {
	padding: 6px 2rem !important;
	margin-bottom: 20px !important;
}

.nav-link {
	color: black !important;
}

a.nav-link.active {
	color: #0275d8 !important;
}

.navbar {
	background-color: white !important;
}

.nav h2 {
	margin-left: -1.9rem;
}

.pages {
	max-width: 830px; 
	margin: 0 auto;
}


.col {
  padding-right:0px;
  padding-left:0px;
  margin-right: 7px;
  margin-left: 7px;
}

thead {
	background-color: #5cb85c;
	color: white;
	text-align: center !important;
}

table {
	text-align: center;
	border: solid 1px;
}

.table .text-center {text-align: center}

tr {
   height: 75px !important;
   
}

th, td {
	vertical-align: middle !important;
}

