<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
    	<h2 class="btn btn-success">Pay my Buddy</h2>
  		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse" id="navbarNav">
      		<div class="navbar-nav ml-auto">
       			<a class="nav-link" th:href="@{/home.html}">Home</a>
        		<a class="nav-link" th:href="@{/transfer.html}">Transfer</a>
        		<a class="nav-link active" th:href="@{/profile.html}">Profile</a>
        		<a class="nav-link" href="#">Contact</a>
         		<a class="nav-link" href="/logout">Log off</a>
      		</div>
    	</div>
    </div>
</nav>
</header>
