<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <link th:href="@{/styles.css}" rel="stylesheet" />
        <link th:href="@{/login.css}" rel="stylesheet" />
    	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
		<div >
			<form th:action="@{/doLogin}" method="post" style="max-width: 400px; margin: 0 auto;">
    		<p><span class="glyphicon glyphicon-envelope"></span>
        		<input class="form-control" type="email" name="email" placeholder="Email" required />  
    		</p>
    		<p>
       			<input type="password" name="password" placeholder="Password"required />
    		</p>
    		<p><input type="checkbox" name="remember-me" /></p>
    		<p>
        		<input type="submit" value="Login" />
   			 </p>
			</form>
		</div>
	</body>
</html>