<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>
    <body>
    	<a href="/logout">Log off</a>
        <p>Nom : <span th:text="${user.firstName}"></span></p>
        <a th:href="@{/deleteUser}">Delete my account</a>
        <p>Banks :</p>
        <ul th:each="bank: ${user.banks}">
        <li> Name <span th:text="${bank.name}"></span> - Iban <span th:text="${bank.iban}"></span></li> 
        <li><a th:href="@{/deleteBank/{iban}(iban=${bank.iban})}">Remove bank</a></li>
        </ul>
        <form method="post" th:action="@{/addBank}" th:object="${bank}">
    		<input type="text" th:field="*{name}" />
    		<input type="text" th:field="*{iban}" />
    		<button type="submit">Add Bank</button>
    	</form>
    	<p>Balance : <span th:text="${user.balance}"></span></p>
    </body>