<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>Transfer</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <link th:href="@{/styles.css}" rel="stylesheet" />
    	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
    
    <div th:if="${notFoundMessage}" style="color:red;font-style:italic" th:utext="${notFoundMessage}">..</div>
    <form th:action="@{/addFriend/{email}}" method="get">
    		<input type="email"  th:value="${email}" name="email" required/>
    		<button type="submit">Add Connection</button>
    	</form>
    
<!--     <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>	 -->
	<div th:if="${errorMessage}" style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>
	<form th:action="@{/payFriend}" method="post">
		<select th:name="friendId">
		<option disabled="disabled">Select A Connection</option>
			<option th:each="friend: ${user.friendship}" 
					th:value="${friend.id}"
					th:text="${friend.firstName}+' '+${friend.lastName}">
			</option>
		</select>
		<input type="text"  th:value="${description}" name="description" required/>
		<span class="input-symbol-euro right"><input type="number"  min="1" th:value="${amount}" name="amount" th:placeholder="0"  required/></span>
		<button type="submit">Pay</button>
	</form>
		<div class="container special">
		<h2 class="h2">My Transactions</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Connection</th>
						<th>Description</th>
						<th>Amount</th>
						<th>Charges</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${friendTransfers.empty}">
						<td colspan="3">Not yet transaction</td>
					</tr>
					<tr th:each="transaction: ${transactions}" th:utext="${transaction}">
<!-- 					<tr th:each="tranfer: ${friendTransfers}"> -->
<!-- 					<td>coucou</td> -->
<!-- 					<td><span th:text="*{friend.firstName}+' '+*{friend.lastName}"></span></td> -->
<!-- 						<td><span th:text="*{friend.firstName}+' '+*{friend.lastName}"></span></td> -->
<!-- 						<td><span th:text="${transfer.description}"></span></td> -->
<!-- 						<td><span th:text="*{amount}+'€'"></span></td> -->
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	
		 
		
	
	
	
    
    </body>