<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Transfer</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
        <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>
        <link th:href="@{/styles.css}" rel="stylesheet" />
        <link th:href="@{/login.css}" rel="stylesheet" />
    	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="container-fluid pages">
    <div class="bootstrap-iso">
    
    <header>
    	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 9px">
			<div class="container-fluid" style="margin-bottom: -1rem">
    			<h2 class="btn btn-success" style="margin-left: -1.9rem">Pay my Buddy</h2>
  				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id="navbarNav">
      				<div class="navbar-nav ml-auto" style="float : right">
       					<a class="nav-link" th:href="@{/}">Home</a>
        				<a class="nav-link active" th:href="@{/transfer}">Transfer</a>
        				<a class="nav-link" th:href="@{/profile}">Profile</a>
        				<a class="nav-link" href="#">Contact</a>
         				<a class="nav-link" href="/logout">Log off</a>
      				</div>
    			</div>
    		</div>
		</nav>
		 <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transfer</li>
         </ul>
		</header>
	<div class="container" style="width: 600px">	
    <div th:if="${notFoundMessage}" style="color:red;font-style:italic" th:utext="${notFoundMessage}">..</div>
    <div class="d-flex justify-content-between align-items-baseline" style="margin: 0 -45px 0 -15px">
    	<h4 class="align-self-baseline">Send Money</h4>
    	<form th:action="@{/addFriend/{email}}" method="get">
    		<div class="d-inline-flex ">
    			<input type="email"  th:value="${email}" name="email" placeholder="Friend Email" required/>
    		<button type="submit" class="btn-primary font-weight-bold" style="margin-bottom: 0 !important;">Add Connection</button>
    		</div>
    	</form>
    </div>
	<div th:if="${errorMessage}" style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>
	
	<form th:action="@{/payFriend}" method="post" >
	<div class="container-fluid" style="width: 600px">
	<div style="background-color: #f5f5f5; padding: 3rem 1rem; margin: 0 -30px" class="row">
	<div class="col-4" style="height: 33px; width: 100%">
		<select th:name="friendId" class="form-select" style="height: 33px; width: 100%; padding: 0 7px">
		<option selected>Select A Connection</option>
			<option th:each="friend: ${user.friendship}" 
					th:value="${friend.id}"
					th:text="${friend.firstName}+' '+${friend.lastName}">
			</option>
		</select>
	</div >
		<div class="col-4" style="height: 100%; width: 100%; padding: 0 7px">
			<input type="text"  th:value="${description}" name="description" class="form-control"  placeholder="Description"/>
		</div>
		<div class="input-group col" style="height: 100%; width: 100%; margin: 0 7px;">
   			<div class="input-group-addon">
    		<i class="fas fa-euro-sign"></i>
    		<span>€</span>
    		</div>
    		<input type="number"  min="1" th:value="${amount}" name="amount" th:placeholder="0"  class="form-control" style="padding-right: 0; padding-left: 0"/>
    	</div>
    	<div class="col" style="height: 100%; width: 100%">
			<button type="submit" class="btn btn-success font-weight-bold" style="height: 100%; width: 100%">Pay</button>
		</div>
		</div>
		</div>
	</form>
	
	
		<div class="container-fluid" style="width: 600px; padding: 15px 0; margin: 0 -15px;">
		<h4>My Transactions</h4>
		<div class="table">
			<table class="table table-striped">
				<thead>
					<tr class="text-center">
						<th class="text-center">Connections</th>
						<th class="text-center">Description</th>
						<th class="text-center">Amount</th>
						<th class="text-center">Charges</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${friendTransfers.empty}">
						<td colspan="3">Not yet transaction</td>
					</tr>
					<tr th:each="transaction: ${transactions}" th:utext="${transaction}">
<!-- 					<tr th:each="tranfer: ${friendTransfers}"> -->
<!-- 					<td>coucou</td> -->
<!-- 					<td><span th:text="*{friend.firstName}+' '+*{friend.lastName}"></span></td> -->
<!-- 						<td><span th:text="*{friend.firstName}+' '+*{friend.lastName}"></span></td> -->
<!-- 						<td><span th:text="${transfer.description}"></span></td> -->
<!-- 						<td><span th:text="*{amount}+'€'"></span></td> -->
<!-- 					</tr> -->
				</tbody>
			</table>
		</div>
		</div>
		</div>
	</div>
	</div>
		 
		
	
	
	
    
    </body>